body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 画面全体に合わせる */
    margin: 0;
}

.boxContainer {
    width: 80vw;
    padding: 20px;
    /* height: 15vw; */
    background-color: rgb(218, 229, 253);
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    
}

input {
    border: none;
    outline: none;
    caret-color: transparent;
}

.marker {
    /* color: #ffffff55; */
    color: rgb(227, 161, 40);
}